/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 1080px) {

  /* Force table to not be like tables anymore */



  /* change table-layout responsive */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    margin-top: 5px;
    border: 2px solid #ccc;
  }

  #no-more-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 12px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
        Label the data
        */
  #no-more-tables td:before {
    content: attr(data-title);
  }

  /* Custom */
  #no-more-tables tr td tr{
    display: flex;
    border: 0px ;
  }
  #no-more-tables tr td tr td{
    border-bottom: 0px;
    padding: 0%;
    text-align: left;
    margin-right: 5px;
  }
}